<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WJH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>181B19FB15EDF9FD00B67BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5E8D2E165E6C3D009C0F66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5F9C53166B7E700006A009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD6ED3A216B03539002A5F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
